#test1{background-color: #8A9C92}
#test2{border: 2px; text-align: center; border-collapse: separate;}
#test3{background-color: red}
#khung{background-color: red}
#imglayout{width: 400px; height: 400px;}
#bang{ overflow:auto; width: 80%; height:600px;  float:left}
thead{background-color: #4BA0B8}
#img_xetrongbai{width: 200px; height: 200px;}
#edit_car{width: 120px; height: 30px;}
#edit_car1{width: 150px; height: 30px;}
#backgr{
    background-image: url(./Layout/img/truck.jpg);
    background-position:center;
    background-size:cover;
  }
#logo1{width: 300px; height: 60px;}
